*.node filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
advanced-control-station/node_modules/** filter=lfs diff=lfs merge=lfs -text
advanced-control-station/.next/** filter=lfs diff=lfs merge=lfs -text
*.pack.gz filter=lfs diff=lfs merge=lfs -text
